@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400&display=swap');

body {
  background-color: #171717;
  color: white;
  margin: 0;
  font-family: 'Gabarito';
  font-weight: 400;
}

header {
  height: 150px;
  padding: 20px;
}

p {
  font-size: 1.2rem;
}

button {
  background-color: #aaf9fc;
  color: black;
  border: none;
  border-radius: 7px;
  padding: 12px;
  cursor: pointer;
  font-size: 1rem;
}
button.danger {
  background-color: #ff7b7b;
}
button.primary {
  background-color: #3bff8d;
}
button.disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.button-group button {
  width: 45%;
}

.tag {
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 12px;
  height: fit-content;
  min-width: 2rem;
  display: inline-block;
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  height: calc(100vh - 150px - 40px);
}

.gallery .item {
  margin: 20px;
  width: 300px;
  min-height: 500px;
  height: fit-content;
  position: relative;
  border-radius: 12px;
  background-color: #1E1E1E;
  transition: all 0.1s ease-in-out;
}

.gallery .item.selected {
  width: 90vw;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 5vw;
}

.gallery .item img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  object-fit: cover;
  min-height: 300px;
}

.item-content {
  padding: 20px;
}

/* split.js */
.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: #212121;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}


.menu {
  background-color: #212121;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-info {
  margin: 20px;
}

.menu-buttons {
  margin: 20px;
  
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.log {
  margin: 20px;
}

.log-messages {
  padding: 10px;
  background-color: #1E1E1E;
  height: 250px;
  overflow-y: scroll;
  transition: all 0.1s ease-in-out;
}

.log .log-messages span {
  font-size: 0.8rem;
}

.collapsed {
  height: 0;
  padding: 0;
  overflow: hidden;
}